/*  
    base color
    #e67e22
*/

/* -------------------------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    color: #555;
    font-family: lato, Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.container{
    padding: 0;
    margin: 0;
    max-width: none;
}



/* -------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* -------------------------------------------------------- */

.clearfix:after{
    content: " ";
    clear:both;
    height: 0px;
    visibility: hidden;
}

section{
    padding: 80px 0;
}

.row{
    width: 1140px;
    margin: 0 auto;
}

.box{
    padding: 1%;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}

/* ----- ICONS ----- */

.icon-big{
    font-size: 400%;
    color: #e67e22;
    margin-bottom: 10px;
    display: block;
}

.icon-small{
    color: #e67e22;
    font-size: 120%;
    display: inline-block;
    line-height: 120%;  
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
}

/* ----- HEADINGS ----- */


h1,h2,h3 {
    text-transform: uppercase;
    font-weight: 300;
    
}

h1{
    margin-top: 0 !important;
    margin-bottom: 20px !important;
    color: #fff;
    word-spacing: 4px;
    font-size: 200%;
    letter-spacing: 1px;
}

h2{
    font-size: 175%;
    word-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after{
    display: block;
    content: " ";
    height: 2px;
    width: 80px;
    background-color: #e67e22;
    margin: 0 auto;
    margin-top: 30px;
}

h3{
    font-size: 120%;
    margin-bottom: 15px;
}

/* ----- PARAGRAPHS ----- */

.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

/* ----- LINKS ----- */
a:link,
a:visited{
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid #e67e22;
    transition: border 0.2s, color 0.2s;
}

a:hover,
a:active{
    color: #555;
    border-bottom: 1px solid transparent;
}

/* ----- BUTTONS ----- */

.btn:link,
.btn:visited{
    padding: 10px 20px;
    font-weight: 300;
    display: inline-block;
    text-decoration: none;
    border-radius: 100px;
    border: 1px solid #e67e22;
    transition: background-color .2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited
{
    margin-right: 20px;
    background-color: #e67e22;
    color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited{
    color: #e67e22;  
}

.btn:hover,
.btn:active{
    background-color: #9c4a01;
    border: 1px solid #9c4a01;
}

.btn-ghost:hover,
.bnt-ghost:active{
    color: #fff;
}

/* -------------------------------------------------------- */
/* HEADER
/* -------------------------------------------------------- */

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("./img/hero.jpg");;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
}

.hero-text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.logo{
    float:left;
    height:100px;
    width: auto;
    margin-top: 20px;
}

.main-nav{
    position: absolute;
    right: 0;
    list-style: none;
    margin-top: 50px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}

/* -------------------------------------------------------- */
/* FEATURES
/* -------------------------------------------------------- */

.features .long-copy{
    margin-bottom: 30px;
}

/* -------------------------------------------------------- */
/* MEALS SHOWCASE
/* -------------------------------------------------------- */

section.meals-showcase{
    padding: 0;
}

.meals-showcase{
    width: 100%;
}

.meals-showcase ul{
    width: 100%;
    margin: 0;
}

.meals-showcase ul li{
    display: block;
    float:left;
    width: 25%;
}

.meals-showcase ul li figure{
    background-color: #000;
    margin: 0;
    overflow: hidden;
}

.meals-showcase ul li img{
    width: 100%;
    height: auto;
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0.5;
}

.meals-showcase ul li img:hover{
    transform: scale(1.15);
    opacity: 1;  
}

/* -------------------------------------------------------- */
/* HOW IT WORK'S
/* -------------------------------------------------------- */

section.how_it_works{
    padding: 80 0;
}

.steps-box img{
    width:40%;
    height: auto;
}

.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}

.works-step{
    margin-bottom: 50px;

}

.works-step div{
    color: #e67e22;
    border: 2px solid #e67e22;
    display: block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding-bottom: 5px;
    font-size: 150%;
    margin-right: 15px;    
    float:left;   
}

.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/* -------------------------------------------------------- */
/* CITIES
/* -------------------------------------------------------- */

section.cities{
    background-color: rgba(240, 240, 240, 0.938);
}

.box img{
    width: 100%;
    margin-bottom: 15px;
    height: auto;
}

.city-feature{
    margin-bottom: 5px;
}

/* -------------------------------------------------------- */
/* TESTIMONIALS
/* -------------------------------------------------------- */

.testimonials{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url('./img/back-customers.jpg');
    background-position: center;
    background-size: cover;
    color: #fff;
}

blockquote{
    font-style: italic;
    line-height: 145%;
    padding: 2%;
    margin-top: 40px;
    position: relative;
}

blockquote::before{
    content: "\201C";
    font-size:500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;

}

cite{
    display: block;
    margin-top: 25px;
    font-size: 90%;
}

cite img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}




